.listItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.pageContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  justify-content: space-between;
  justify-items: center;
  background-color: #3d3d3d;
}
.listContainer {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  grid-template-columns: minmax(600px, 1fr) minmax(0px, 200px);
  justify-content: center;
  justify-items: center;
}
.sidebarHeadText {
  font-size: x-large;
  padding: 0px;
  margin: 0;
}
.sidebarHeader {
  display: grid;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 10% 90%;
  justify-content: center;
}
.list {
  gap: 1px;
  width: 100%;
}
.listButton {
  height: 35px;
  align-content: center;
}
.folderTitle {
  font-size: 36pt;
  color: aqua;
}
.titleBox {
  display: flex;
  justify-content: center;
  padding-right: 10%;
}
