.listItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.pageContainer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  justify-items: center;
  background-color: #3d3d3d;
}
.listContainer {
  display: grid;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  margin-left: 10px;
  grid-template-columns: minmax(600px, 1fr) minmax(0px, 200px);
  justify-content: center;
  justify-items: center;
}
.sidebarHeadText {
  font-size: x-large;
  padding: 0px;
  margin: 0;
}
.sidebarHeader {
  display: grid;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: 10% 90%;
  justify-content: center;
}
.list {
  padding-left: 40px;
  padding-right: 0px;
  margin-right: 0px;
  gap: 1px;
  width: 100%;
}
.listButton {
  height: 35px;
  align-content: center;
}
.folderTitle {
  font-size: 34pt;
  padding-left: 100px;
  color: aqua;
}
.titleBox {
  display: flex;
  width: 90%;
  justify-content: center;
  padding-right: 10%;
}
.rightColumn {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  grid-template-rows: 154px 1fr;
}
.pendingList {
  margin-left: 5%;
  width: minmax(400px, 80%);
}
.pendingChange {
  display: flex;
  height: 36px;
  justify-content: space-between;
}
